---
config:
  vagrant_user_password: "__VAGRANT_PASSWORD__"
  servers: 
    - hostname: "gw-ci-up3a001"
      domain: "net.__LAB_DOMAIN__"
      vmname: "grymoire_gw-ci-up3a001"
      box: "centos/8"
      ram: 256
      cpu: 2
      interfaces:
        - id: 2
          type: "hostonly"
          network: "private_network"
          bridge: "vboxnet1"
          ip: "10.0.0.3"
          promisc: "allow-vms"
          trace: "off"
    - hostname: "gw-ci-ur3a001"
      domain: "net.__LAB_DOMAIN__"
      vmname: "grymoire_gw-ci-ur3a001"
      box: "centos/8"
      ram: 256
      cpu: 2
      interfaces:
        - id: 2
          type: "hostonly"
          network: "private_network"
          bridge: "vboxnet1"
          ip: "10.0.0.4"
          promisc: "allow-vms"
          trace: "off"
    - hostname: "jump-ci-up3a001"
      domain: "mgmt.__LAB_DOMAIN__"
      vmname: "grymoire_jump-ci-up3a001"
      box: "centos/8"
      ram: 768
      cpu: 1
      gui: true
      interfaces:
        - id: 2
          type: "hostonly"
          network: "private_network"
          bridge: "vboxnet1"
          ip: "10.0.0.5"
          vlan: "4093"
          private_ip: "192.168.254.249"
          mask: 30
          private_routes: "192.168.0.0/16 192.168.254.250"
          promisc: "deny"
          trace: "off"
    - hostname: "tools-ci-up3a001"
      domain: "mgmt.__LAB_DOMAIN__"
      vmname: "grimoire_tools-ci-up3a001"
      box: "centos/8"
      ram: 2048
      cpu: 2
      reload: "false"
      interfaces:
        - id: 2
          type: "hostonly"
          network: "private_network"
          bridge: "private"
          ip: "10.0.0.8"
          vlan: "111"
          private_ip: "192.168.151.10"
          mask: 24
          private_routes: "192.168.0.0/16 192.168.151.254"
          promisc: "deny"
          trace: "off"
        - id: 3
          type: "public_network"
          network: "public_network"
          bridge: "__TOOLS_VM_PUBLIC_BRIDGE_NAME__"
          ip: "__TOOLS_VM_PUBLIC_IP__"
          private_ip: "192.168.42.10"
          promisc: "deny"
          trace: "off"
      disks:
        - id: 1
          size: 10024
          port: 0
          device: 1
